/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Container principal */
.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #810000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

header .profession {
  font-size: 18px;
  color: #555;
}

.contact p {
  margin: 5px 0;
}

.contact a {
  color: #3498db;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Seções */
section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Tabela de habilidades */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead th {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Estilo da tabela */
tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}
